{
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "screens": "./src/screens",
          "layout": "./src/layout",
          "navigation": "./src/navigation",
          "store": "./src/store",
          "icons": "./src/assets/icons",
          "images": "./src/assets/images",
          "api": "./src/api",
          "common": "./src/common"
        }
      }
    ]
  ]
}
