{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "screens": "./src/screens",
          "layout": "./src/layout",
          "navigation": "./src/navigation"
        }
      }
    ]
  ]
}
